body {
    background: #effafc;
}

/*
Classes
 */

.class-edit,
.class-duplicate,
.class-delete,
.student-delete,
.student-add,
.list-delete,
.vocab-edit,
.vocab-delete,
.list-activate,
.list-deactivate {
    cursor: pointer;
}


/*
Vocabulary List
 */

.vocabulary_entry {
    width: 85%;
}

.vocabulary_entry > input[type=text] {
    width: 38%;
}

.vocabulary_entry > input[type=text][readonly] {
    border: unset;
}

.vocabulary-list .table {
    width: 70%;
    margin: 0;
}

.vocabulary-list .table td,
.vocabulary-list .table th {
    width: 50%;
    padding: 0;
    border: unset;
}

.list-activate {
    color: #00c123;
}

.list-deactivate {
    color: #ff9000;
}

.list-deactivated {
    color: #999999;
}

/*
Lets vocheck tool
 */
.vocheck_translate,
#vocheck_tool_input {
    text-align: center;
}

.vocheck_second_language {
    margin-top: 2rem;
}
